:root {
  --clr-black: #000000;
  --clr-bg-footer: #202020;
  --clr-bg-dark-gray: #2b2b2d;
  --clr-bg-gray: #464646;
  --clr-bg-light-gray: #686868;
  --clr-light: #e0e0e0;
  --clr-accent-orange: #f1a500;
  --clr-accent-red: #f73e10;

  font-family: 'Open Sans';

  --border-width: 1px;
  /*--fs-h1: 2.45rem;
  --fs-h2: 1.8rem;*/
  --fs-h1: 2rem;
  --fs-h2: 1.25rem;
}
/*
@media (max-width: 60rem) {
  :root {
    --fs-h1: 1.8rem;
    --fs-h2: 1.3rem;
  }
}

@media (max-width: 50rem) {
  :root {
    --fs-h1: 1.5rem;
    --fs-h2: 1.1rem;
  }
}

@media (max-width: 45rem) {
  :root {
    --fs-h1: 1.35rem;
    --fs-h2: 1rem;
  }
}

@media (max-width: 40rem) {
  :root {
    --fs-h1: 1.2rem;
    --fs-h2: 0.9rem;
  }
}*/
@media (max-width: 38rem) {
  :root {
    --fs-h1: 1.3rem;
    --fs-h2: 1rem;
  }
}

@media (max-width: 28rem) {
  :root {
    --fs-h1: 1rem;
    --fs-h2: 0.7rem;
  }
  a {
    font-size: 0.8rem;
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: var(--clr-bg-light-gray);
  color: var(--clr-light);
  overflow-x: hidden;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

img {
  display: block;
  max-width: 100%;
}

section {
}

/*****NAVBAR*****/

header {
  border: #2b2b2d solid 2px;
  width: 16rem;
  height: 100vh;
  position: fixed;
  background: var(--clr-bg-dark-gray);
  color: var(--clr-accent-orange);
  transition: 0.5s;
}

@media (max-width: 38rem) {
  header {
    width: 5rem;
    height: 100%; /*url bar w połączeniu z vh powoduje problemy*/
  }
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

nav hr {
  margin: 0px -20px 20px;
  border: 0;
  border-top: 1px solid var(--clr-accent-orange);
}

nav ul li {
  list-style: none;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

nav ul li:hover {
  background: var(--clr-bg-gray);
}

nav ul li a {
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--clr-accent-orange);
  align-items: center;
}

nav ul li a:hover {
  color: var(--clr-accent-red);
}

nav ul li a .icon {
  min-width: 4rem;
  height: 4rem;
  line-height: 5.5rem;
}

nav ul li a .icon ion-icon {
  padding-left: 1.1rem;
  font-size: 2.5rem;
}

nav ul li a .title {
  margin-left: auto;
  padding-right: 0.5rem;
  margin-right: 0;
}

@media (max-width: 38rem) {
  nav ul li a .title {
    visibility: hidden;
  }
  #person-name {
    visibility: hidden;
  }
}

#person {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#person-img {
  position: relative;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

#person-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
@media (max-width: 38rem) {
  #media {
    /*visibility: hidden;*/
    display: grid;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}
#media .icon {
  color: var(--clr-accent-orange);
}

#media .icon:hover {
  color: var(--clr-accent-red);
}

#media .icon ion-icon {
  font-size: 1.5rem;
}

#flex-end {
  justify-content: flex-end;
  margin-top: auto;
}

/****** MAIN CONTENT ******/

main {
  position: relative;
  width: calc(100% - 16rem);
  left: 16rem;
}

main p {
  font-size: 1rem;
}

.section-title {
  padding-bottom: 0.5rem;
}

.section-subtitle {
  padding-bottom: 1.5rem;
}

@media (max-width: 38rem) {
  main {
    width: calc(100% - 5rem);
    left: 5rem;
  }
  main p {
    font-size: 0.85rem;
  }

  .section-subtitle {
    padding-bottom: 1rem;
  }
}

/****** HOME ******/
#home {
  background-color: var(--clr-bg-gray);
  background-image: url(./images/img-home1.jpg);
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-blend-mode: multiply;
  background-attachment: fixed;
  color: var(--clr-light);
  text-align: center;
  padding: 15vh 1rem;
  width: 100%;
}

@media (max-width: 38rem) {
  #home {
    padding: 1rem;
  }
}

#home-btn {
  text-decoration: none;
  color: var(--clr-light);
  border: solid 3px var(--clr-light);
  border-radius: 0.5rem;
  padding: 0.4rem;
  font-weight: bold;
}

#home-btn:hover {
  color: var(--clr-accent-orange);
  border-color: var(--clr-accent-orange);
}
/*
#home img {
  width: 100%;
  z-index: -1;
  object-fit: contain;
  display: block;
}

.container-home {
  position: absolute;
  top: 15%;
  left: 15%;
  padding-right: 2rem;
}

@media (max-width: 38rem) {
  .container-home {
    top: 10%;
    left: 10%;
    padding-right: 0.25rem;
  }
}

@media (max-width: 25rem) {
  .container-home {
    top: 5%;
    left: 5%;
    padding-right: 0.25rem;
  }
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  background: #464646c4;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.section-title {
  color: #a39e00;
}

.section-subtitle {
  padding: 1rem 0 2rem;
}

#home-btn {
  text-decoration: none;
  color: var(--clr-light);
  border: solid 3px var(--clr-light);
  margin: 1rem;
  margin-left: 0;
  padding: 0.5rem;
  font-weight: bold;
}

#home-btn:hover {
  color: var(--clr-accent-orange);
  border-color: var(--clr-accent-orange);
}*/

/***** ABOUT ME ******/

#about-me {
  min-height: 40vh;
  color: var(--clr-light);
  /*background-color: #703a00;*/
  /*background-color: var(--clr-light);*/
}

#about-me .section-title {
  padding-bottom: 0;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'one one one one one'
    'two two two three three'
    'four four five five five';
}

@media (max-width: 63rem) {
  #about-me {
  }
  .grid-container {
    grid-template-areas: 'one' 'two' 'three' 'five' 'four';
  }
}

.center-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-element {
  padding: 1rem;
  height: 100%;
  /*background-color: #f1a500ad;*/
  background-color: var(--clr-bg-footer);
}

.grid-element:nth-child(1) {
  grid-area: one;
  border: var(--border-width) solid var(--clr-accent-orange);
}

.grid-element:nth-child(2) {
  grid-area: two;
  border-right: var(--border-width) solid var(--clr-accent-orange);
  border-bottom: var(--border-width) solid var(--clr-accent-orange);
  border-left: var(--border-width) solid var(--clr-accent-orange);
}

.grid-element:nth-child(2) p ~ p,
.grid-element:nth-child(5) p ~ p {
  padding-top: 0.25rem;
}

.grid-element:nth-child(3) {
  grid-area: three;
  background: url(./images/img-about-me.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 30vw;
  min-height: 300px;
  border-bottom: var(--border-width) solid var(--clr-accent-orange);
  border-right: var(--border-width) solid var(--clr-accent-orange);
}

.grid-element:nth-child(4) {
  grid-area: four;
  background: url(./images/img-about-me1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 30vw;
  min-height: 300px;
  border-left: var(--border-width) solid var(--clr-accent-orange);
  border-right: var(--border-width) solid var(--clr-accent-orange);
  border-bottom: var(--border-width) solid var(--clr-accent-orange);
}

.grid-element:nth-child(5) {
  grid-area: five;
  border-right: var(--border-width) solid var(--clr-accent-orange);
  border-bottom: var(--border-width) solid var(--clr-accent-orange);
}

@media (max-width: 63rem) {
  .grid-element:nth-child(3),
  .grid-element:nth-child(5) {
    border-left: var(--border-width) solid var(--clr-accent-orange);
    border-left: var(--border-width) solid var(--clr-accent-orange);
  }
}

/****** PORTFOLIO ******/

#portfolio {
  background-color: var(--clr-bg-dark-gray);
  border: var(--border-width) solid var(--clr-accent-orange);
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-center {
  width: fit-content;
}

#portfolio .section-title {
  padding: 1rem;
}

.portfolio-content {
  display: flex;
  border-top: var(--border-width) solid var(--clr-accent-orange);
}

.portfolio-content .flex-item {
  position: relative;
  flex-basis: 100%;
  min-height: 55vh;
}
.portfolio-content .flex-item ~ .flex-item {
  border-left: var(--border-width) solid var(--clr-accent-orange);
}
/*
.portfolio-content .flex-item:nth-child(1) {
  background-image: url(./images/imt-portfolio1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}*/

@media (max-width: 63rem) {
  .portfolio-content {
    flex-wrap: wrap;
  }
  .portfolio-content .flex-item ~ .flex-item {
    border-left: none;
    border-top: var(--border-width) solid var(--clr-accent-orange);
  }
}

.portfolio-content .flex-item img,
.card {
  transition: 200ms ease-in-out;
}

.portfolio-content .flex-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio-content .flex-item:hover img {
  filter: blur(4px);
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
}

.card:hover {
  opacity: 1;
}

.card .content {
  padding: 1rem;
}

.card .content h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}

.card .content a {
  text-decoration: none;
  color: var(--clr-light);
  font-weight: 700;
}

@media (max-width: 38rem) {
  .portfolio-content .flex-item img {
    filter: blur(4px);
  }
  .card {
    opacity: 1;
  }
}

@media (min-width: 70rem) {
  .card .content p ~ p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

/***** FOOTER *****/

footer {
  background: var(--clr-bg-footer);
  position: relative;
  width: calc(100% - 16rem);
  left: 16rem;
  color: var(--clr-accent-orange);
}

@media (max-width: 38rem) {
  footer {
    width: calc(100% - 5rem);
    left: 5rem;
  }
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: 7rem;
}

.footer-socials a {
  color: #f1a500;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.25rem;
}

.footer-socials a:hover {
  color: var(--clr-accent-red);
}

.footer-info-section {
  background-color: var(--clr-black);
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}

.footer-info-section p {
  font-size: 0.8rem;
}

.footer-info-section a {
  color: var(--clr-accent-orange);
  text-decoration: none;
}

.footer-info-section a:hover {
  color: var(--clr-accent-red);
}
